@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/
.btn {
    font-size: 1em;
}
.form-control,
p {
    font-size: 1rem;
}
.form-group > div {
    vertical-align: top;
    .form-control[type=radio]{
        width: 30px;
        display: inline-block;
        vertical-align: top;
        margin-top: 0.4em;
        margin-right: 10px;
    }
    .form-control-label {
        width: calc(100% - 45px);
        display: inline-block;
        margin-bottom: 0.7em;
    }
}

.ejercicios {
    > .card {
        margin-bottom: 1em;
        color: #000 !important;
        background-color: #fff !important;            
        .card {
            color: #000 !important;
            background-color: #fff !important;            
            border: 1px solid #ddd;
            box-shadow: none !important;
        }
    }
    input[type=submit]{
        background: $theme-color-1;
        border: none;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 4px;
    }
    input[type=radio]{
        margin-right: 10px;
        margin-top: 0.3em;
    }
    textarea {
        border-color: #ccc;
    }
    table td {
        vertical-align: top;
    }
}